

body
{
  font-family: Comfortaa;
  background-color: #222125;
  color: #cfc1b3;
}

#early{
    background-color: #524c6d;
}

#drumstick{
    background-color: #632a40;
}

#eggs{
    background-color: #344f5b;
}

#bully{
    background-color: #ba6264;
}
