@import url(//db.onlinewebfonts.com/c/0fdb2ac5f8663b2b8acb8dfd8b35db02?family=Nilland-Black);
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker';
@import 'https://fonts.googleapis.com/css?family=Comfortaa';
@import 'https://fonts.googleapis.com/css?family=Bree+Serif';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

a {
text-decoration:}
none;
.thumbnail-imagewidth: 100%;
}
{
.thumbnail-title...
}

nav{
  font-family: Nilland-Black;
  font-size: 20px;
}


ul.bulletless{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #520d20;

}

li.nav{
  float: left;
}

li a{
  display block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #d336c4;
}

.active {
    background-color: #4aea22;
}

ul.circle{
  list-style-type: circle;
}

ul.square{
  list-style-type: square;
}

ol.alphabets{
  list-style-type: lower-alpha;
}


h1
  { font-family: Nilland-Black;
    color: #ee4a56;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
  }

  h2
    { font-family: Nilland-Black;
    }


  h3
    { font-family: Permanent Marker;
    }

  h4
      { font-family: Permanent Marker;
      }

footer
{
  font-family: Bree Serif;
}


img {
  width: 100%;
  height: auto;
  vertical-align
}

#index
{

    font-family: Comfortaa;
    background-color: #6bcfd7;
    color: #2c251c;

}

#enroll
{
  font-family: Comfortaa;
  background-color: #ea7e5a;
  color: black;
}

#album
{
  font-family: Comfortaa;
  background-color: #222125;
  color: #cfc1b3;
}

#early{
    background-color: #524c6d;
}

#drumstick{
    background-color: #632a40;
}

#eggs{
    background-color: #344f5b;
}

#bully{
    background-color: #ba6264;
}




#Rat{
    background-color: #515c79;
    color: #dee2b7;
}

#PIPE{
    background-color: #86e233;
}

#Ref{
    background-color: #1fd8de;
}






#BasI{
    background-color: #77ee4a;
}

#PerI{
    background-color: #da5c50;
}

#AcaI{
    background-color: #dfdb33;
}

#EduI{
    background-color: #77ee4a;
}

#ComI{
    background-color: #da5c50;
}


#HumI{
    background-color: #dfdb33;
}
